@page
@functions
{
  public string? DayName { get; set; }

  public void OnGet()
  {
    ViewData["Title"] = "Northwind B2B";
    DayName = DateTime.Now.DayOfWeek.ToString();
  }
}
<div class="jumbotron">
  <h1>Welcome to @ViewData["Title"]</h1>
  <p>We supply products to our customers.</p>
  <hr />
  <p>It's @DayName! Our customers include restaurants, hotels, and cruise lines.</p>
  <p>
    <a class="btn btn-primary" href="suppliers">Learn more about our suppliers</a>
  </p>
</div>